@import "tailwindcss";

body {
    @apply bg-slate-100;
}

html,
body,
#root {
    height: 100%;
}

aside ol li a.active {
    @apply bg-gray-200;
}

main pre {
    background-color: #282c33 !important;
}

.exe-multiplo .grid>* {
    @apply border;
    @apply p-2;
    @apply rounded-md;
    @apply text-center;
    @apply font-bold;
    @apply border-sky-300;
    @apply text-blue-500;
}

.main-header {
    @apply col-span-2;
}

.main-sidebar {
    @apply row-start-2;
}

.main-content {
    @apply row-start-2;
}

.main-footer {
    @apply col-span-2;
}

.exercicio:nth-child(even) {
    @apply bg-sky-50;
}

.ex-colorpicker button {
    @apply rounded p-2 text-white w-30 cursor-pointer shadow-lg outline outline-black/5;
}

.fontsize-controller>button {
    @apply border border-gray-300 bg-gray-100 p-2 rounded w-15 hover:bg-green-200 hover:border-green-600 cursor-pointer transition;
}