@import "tailwindcss";

body {
    @apply bg-slate-100;
}

html,
body,
#root {
    height: 100%;
}

aside ol li a.active {
    @apply bg-gray-200;
}

main pre {
    background-color: #282c33 !important;
}