@import "tailwindcss";

body {
    @apply bg-slate-100;
}

html,
body,
#root {
    height: 100%;
}

aside ol li a.active {
    @apply bg-gray-200;
}

main pre {
    background-color: #282c33 !important;
}

.exe-multiplo .grid>* {
    @apply border p-2 rounded-md text-center font-bold border-sky-300 text-blue-500;
}

.main-header {
    @apply col-span-2;
}

.main-sidebar {
    @apply row-start-2;
}


.main-content {
    @apply row-start-2;
}

.main-footer {
    @apply col-span-2;
}

.exercicio:nth-child(even) {
    @apply bg-sky-50;
}

.ex-colorpicker button {
    @apply rounded p-2 text-white w-30 cursor-pointer shadow-lg outline outline-black/5;
}

.fontsize-controller>button {
    @apply border border-gray-300 bg-gray-100 p-2 rounded w-15 hover:bg-green-200 hover:border-green-600 cursor-pointer transition;
}

.multiple-input-form>div {
    @apply flex flex-col
}

.multiple-input-form>div label {
    @apply text-gray-600 text-sm ml-2 mb-1
}

.multiple-input-form input,
.multiple-input-form textarea {
    @apply border border-gray-400 rounded p-2 w-150;
}

.multiple-input-form input {
    @apply h-10;
}


.multiple-input-form textarea {
    @apply h-40 resize-none;
}

.shopping-product {
    @apply flex w-full border-b border-gray-300 p-3 gap-5;
}

.shopping-product-image {
    @apply overflow-hidden rounded w-40 h-30;
}

.shopping-product-image img {
    @apply object-cover;
}

.shopping-product-name {
    @apply text-xl tracking-tight text-gray-950;
}

.shopping-product-price {
    @apply text-lg tracking-tight text-gray-950;
}